#cart_detail
{
    width: 100%;
    background-color: white;
    height: auto;
    padding: 10px;
}

#cart_items
{
    width: 70%;
    float: left;
}

#order_summary
{
    width:30%;
    float: left;
}

#continue_shop{
    
 background: black;
 color: white;
 padding: 5px;
 text-decoration: none;
}

.txtright
{
    text-align: right;
}

#order_summary
{
    float: left;
}

table{
    border-collapse:collapse;
}

tr.forTopBorder
{
    border-top: thin solid #cccccc;
    height: 50px;
    text-align: left;
}

#closeSymbol
{
     background-color: #CCCCCC;
    border: thin solid #CCCCCC;
    border-radius: 40px;
    color: #FFFFFF;
    font-size: 10px;
    padding: 3px 9px 3px 7px;
    text-align: center;
    width: 3px;   
}


#closeSymbol:hover
{
     background-color: #EEEEEE;
    border: thin solid #CCCCCC;
    border-radius: 40px;
    color: #FFFFFF;
    font-size: 10px;
    padding: 3px 9px 3px 7px;
    text-align: center;
    width: 3px;   
}



#closeSymbol a
{
    text-decoration: none;
}

a
{
    text-decoration: none;
}